<%= form_for(@uno) do |f| %>
  <% if @uno.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uno.errors.count, "error") %> prohibited this uno from being saved:</h2>

      <ul>
      <% @uno.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num %><br>
    <%= f.text_field :num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
